<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Spike</a>
      <button class="navbar-toggler" routerLink="home" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">      
        <h5 class="justify-content-evenly">Welcome to Spike - Innovative Customer Management Tool</h5>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end align-content-end">          
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>                
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">New User - Register</a>          
          </li>
        </ul>      
      </div>
    </div>
  </nav>