<div class="container p-5">
    <div class="row">
        <div class="col-sm-12">
            <span class="bg-info" *ngIf="Error != ''"><p class="text-danger">{{Error}}</p></span>
            <h3 class="text-center">Sign Up</h3>
            <form [formGroup]="signUpForm" (ngSubmit)="createNewUser()">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" 
                           formControlName="firstName" 
                           class="form-control" 
                           id="firstName" />                                        
                    <div *ngIf="signUpForm.controls['firstName'].touched && !signUpForm.controls['firstName'].valid">
                            <span class="text-danger" *ngIf="signUpForm.controls['firstName'].hasError('required')" >
                                 First name is mandatory   
                            </span>
                            <span class="text-danger" *ngIf="signUpForm.controls['firstName'].hasError('minlength')">
                                 First name must be minimum 3 characters   
                            </span>
                            <span class="text-danger" *ngIf="signUpForm.controls['firstName'].hasError('maxlength')">
                                First name must be minimum 10 characters   
                           </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="middleName" class="form-label">Middle name</label>
                    <input type="text" formControlName="middleName" class="form-control" id="exampleInputPassword1" />
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    
                    <input type="text" 
                           formControlName="lastName" 
                           class="form-control" 
                           id="lastName" />

                    <span *ngIf="signUpForm.controls['lastName'].touched && !signUpForm.controls['lastName'].valid">
                        <span class="text-danger" *ngIf="signUpForm.controls['lastName'].hasError('required')">
                            Last name is required.
                        </span>
                        <span class="text-danger" *ngIf="signUpForm.controls['lastName'].hasError('minlength')">
                            Last name must be minimum 3 characters.    
                        </span>                        
                        <span class="text-danger" *ngIf="signUpForm.controls['lastName'].hasError('maxlength')">
                            Last name must be maximum 10 characters.
                        </span>
                    </span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    
                    <input type="text" 
                           formControlName="email" 
                           [pattern]="emailRegex"
                           class="form-control" 
                           id="email" />
                    
                    <span *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].invalid">
                        <span class="text-danger" *ngIf="signUpForm.controls['email'].hasError('required')">
                              Email is required.  
                        </span>
                        <span class="text-danger" *ngIf="!signUpForm.controls['email'].hasError('required') && !validateEmailFormat()">
                              Invalid email format.  
                        </span>
                    </span>
                </div>                              
                <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Submit</button>
            </form>
            <br>
            <p>
            {{signUpForm.value | json}}
            </p>
        </div>
    </div>
</div>
<div *ngIf="loadSpinner">
    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
     <p style="font-size: 20px; color: white">Logging in...</p>
    </ngx-spinner>
</div>